@using Sz.BlazorRerenderReducers
@inherits DisplayHashRerenderComponentBase;

<li class="product-tile">
    <ProductImage Product="@Product" />
    <div>
        @if (!Product.IsInStock)
        {
            <OutOfStockBadge />
        }
        <ProductCode Product="@Product" />
        <ProductPriceTag Product="@Product" />
    </div>
    <div>
        <table>
            <tr>
                @foreach (var item in Product.OtherProperties)
                {
                    <OtherPropertyHeader Key="@item.Key"/>
                }
            </tr>
            <tr>
                @foreach (var item in Product.OtherProperties)
                {
                    <OtherPropertyCell Item="item" @key="@(string.Join(Product.Code, item.Key))" />
                }
            </tr>
        </table>
    </div>
</li>
@code {
    [Parameter, EditorRequired]
    public ProductViewModel Product { get; set; } = null!;

    [Parameter]
    public bool AvoidUnnecessaryRerenders { get; set; } = true;

    [CascadingParameter, EditorRequired]
    public IModalService Modal { get; set; } = null!;

    private void ShowDefinition(string productAttributeKey)
    {
        ModalParameters parameters = new();
        parameters.Add("ProductAttributeKey", productAttributeKey);
        Modal.Show<ProductDefinition>("", parameters, new() { HideHeader = true });
    }

    protected override string? GetDisplayHash()
    {
        Console.WriteLine($"GetDisplayHash ran");
        return AvoidUnnecessaryRerenders
            ? $"{Product.Code};{Product.Price};{Product.IsInStock}"
            : base.GetDisplayHash();
    }


}
