@using Sz.BlazorRerenderReducers
@inherits ProfiledRerenderComponentBase

<li class="product-tile">
    <ProductImage Product="@Product" />
    <div>
        @if (!Product.IsInStock)
        {
            <OutOfStockBadge />
        }
        <ProductCode Product="@Product" />
        <ProductPriceTag Product="@Product" />
    </div>
    <div>
        <table>
            <tr>
                @foreach (var item in Product.OtherProperties)
                {
                    <OtherPropertyHeader Item="item" @key="@(string.Join(Product.Code, item.Key))" />
                }
            </tr>
            <tr>
                @foreach (var item in Product.OtherProperties)
                {
                    <OtherPropertyCell Item="item" @key="@(string.Join(Product.Code, item.Key))" />
                }
            </tr>
        </table>
    </div>
</li>
@code {
    [Parameter, EditorRequired]
    public ProductViewModel Product { get; set; } = null!;

    [Parameter]
    public bool AvoidUnnecessaryRerenders { get; set; } = true;

    // when this value is unchanged, suppresses unnecessary re-rendering
    //protected override string? GetDisplayHash() =>
    //    AvoidUnnecessaryRerenders
    //        ? $"{Product.Code};{Product.Price};{Product.IsInStock}"
    //        : base.GetDisplayHash();

}
